@import url('https://fonts.googleapis.com/c4ss?family=Droid+Serif:400italic');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root{
    --fuente: 'Droid Serif', sans-serif;
    --fuenteNerd: 'Cutive Mono', monospace;
}

.f-principal{
    font-family: var(--fuente);
}
.Nerd{
    font-family: var(--fuenteNerd);
}
.f-italic{
    font-style: italic;
}