.scanner h1 {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}

.scanner h1::before {
    content: "Cargando...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17FEFF;
    overflow: hidden;
    color: #17FEFF;
    animation: load91371 3s linear infinite;
    text-shadow: 2px 2px 2px #ff0000;}

@keyframes load91371 {

    0%,
    10%,
    100% {
        width: 0;
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        border-right-color: transparent;
    }

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91% {
        border-right-color: #17FEFF;
    }

    60%,
    80% {
        width: 100%;
    }
}

.loader {
    background: #181818;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100000;
    opacity: 1;
    transition: opacity linear;
}

.loader2 {
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}