html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #ffffff;
    background-image: url(../assets/img/login/blobanimation.svg);
    background-repeat: none;
    background-size: cover;
}

.noselect {
    user-select: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="email"]:hover,
.form-signin input[type="email"]:focus {
    outline: none;
    border-color: rgba(92, 185, 228, 0.600);
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(79, 156, 192, 0.6);
    transition: 2s;
}


.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"]:hover,
.form-signin input[type="password"]:focus {
    outline: none;
    border-color: rgba(92, 185, 228, 0.600);
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(79, 156, 192, 0.6);
    transition: 2s;

}

/*                          MODO OSCURO                            */

#_checkbox {
    display: none;
}
.checkbox label {
    position: absolute;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 4.5em;
    background-color: #f72414;
    transform: translateY(-15%);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;}

.checkbox label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 24px;
    height: 23px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.checkbox label:hover:before {
    transform: translateY(-50%) scale(1.1);
    box-shadow: inset 0 7px 10px #ff9d96;
}

.checkbox label:active {
    transform: translateY(-15%) scale(0.9);
}

#tick_mark {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    width: 15px;
    height: 18px;
    margin: 0 auto;
    margin-left: 5px;
    transform: rotateZ(-40deg);
}

#tick_mark:before,
#tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before {
    left: 0;
    bottom: 0;
    width: 4px;
    height: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-68px)
}

#tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(78px)
}

#_checkbox:checked+label {
    background-color: #5CB8E4;
}

#_checkbox:checked+label:before {
    width: 0;
    height: 0;
}

#_checkbox:checked+label #tick_mark:before,
#_checkbox:checked+label #tick_mark:after {
    transform: translate(0);
    opacity: 1;
}

/* 
#181818
#8758FF
#5CB8E4
#F2F2F2
rgb(24, 24, 24)
rgb(135, 88, 255)
rgb(92, 184, 228)
rgb(242, 242, 242)*/